In [2]:
import pandas as pd

In [21]:
xls = pd.ExcelFile("dataset_cancer.xlsx")
#data = pd.read_excel(xls, 'Table S1a.1',skiprows=[0,1,2,3,4,5])
data = xls.parse('Table S1a.1', skiprows=5, index_col=None, na_values=['NA'], head= True)

In [22]:
data = data.iloc[:,1:7]

In [24]:
data

,Cancer group/site,Year,Sex,Age group (years),Count,"Age-specific rate\n(per 100,000)"
0,Acute lymphoblastic leukaemia,1982.0,Males,00–04,42.0,7.1
1,Acute lymphoblastic leukaemia,1982.0,Males,05–09,25.0,4.0
2,Acute lymphoblastic leukaemia,1982.0,Males,10–14,14.0,2.0
3,Acute lymphoblastic leukaemia,1982.0,Males,15–19,14.0,2.1
4,Acute lymphoblastic leukaemia,1982.0,Males,20–24,5.0,0.7
...,...,...,...,...,...,...
208014,NaN,NaN,NaN,NaN,NaN,NaN
208015,NaN,NaN,NaN,NaN,NaN,NaN
208016,NaN,NaN,NaN,NaN,NaN,NaN
208017,NaN,NaN,NaN,NaN,NaN,NaN
208018,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
clean_data = data.loc[data['Cancer group/site'].isin(['Melanoma of the skin','Non-melanoma skin cancer (rare types)'])]

In [26]:
clean_data

,Cancer group/site,Year,Sex,Age group (years),Count,"Age-specific rate\n(per 100,000)"
87580,Melanoma of the skin,1982.0,Males,00–04,0.0,0.0
87581,Melanoma of the skin,1982.0,Males,05–09,0.0,0.0
87582,Melanoma of the skin,1982.0,Males,10–14,6.0,0.9
87583,Melanoma of the skin,1982.0,Males,15–19,30.0,4.6
87584,Melanoma of the skin,1982.0,Males,20–24,52.0,7.7
...,...,...,...,...,...,...
113435,Non-melanoma skin cancer (rare types),2022.0,Persons,75–79,221.0,25.2
113436,Non-melanoma skin cancer (rare types),2022.0,Persons,80–84,232.0,40.6
113437,Non-melanoma skin cancer (rare types),2022.0,Persons,85–89,192.0,56.8
113438,Non-melanoma skin cancer (rare types),2022.0,Persons,90+,181.0,81.7
113439,Non-melanoma skin cancer (rare types),2022.0,Persons,All ages combined,1350.0,5.2